* {
    font-family: "Patrick Hand";
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center/cover;
}


.bg1 {
    background: url(https://images.pexels.com/photos/7130555/pexels-photo-7130555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center/cover;
}

.services-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(248, 240, 255);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services-container header {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 15px;
}

header p {
    color: #ffffff;
    font-size: 1.2em;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.service-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 1px 10px #7a37ff;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
    transform: translateY(-5px);
}

.service-icon img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid #9966ff;
    box-shadow: 0px 1px 10px #7a37ff;
}

.service-box h2 {
    font-size: 1.5em;
    color: #333333;
    margin: 10px 0;
}

.service-box p {
    color: #666666;
    font-size: 1em;
    margin-bottom: 15px;
}

.more-info-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.more-info-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.service-info {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.service-info.active {
    display: block;
}